
{% extends 'base.html' %}

{% block title %}Contact - Stephen Akelo Portfolio{% endblock %}
{% load static %}
{% block content %}
<main>

  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Interested in collaborating or need high-quality content and design work? Feel free to reach out—I’m always open to new opportunities and connections.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-5">

          <div class="info-wrap">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Kadongo, Homa Bay County, Kenya</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Me</h3>
                <p>+254 768 914 692</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Me</h3>
                <p>stephenokinyi405@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.68035081098!2d34.617450749999995!3d-0.5027231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1829e6d3c30a793b%3A0x34b0278c4cc5d9aa!2sKadongo%2C%20Kenya!5e0!3m2!1sen!2ske!4v1717157652843!5m2!1sen!2ske" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        </div>

      </div>

    </div>

  </section><!-- /Contact Section -->

</main>

<footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Stephen Akelo Portfolio</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="credits">
  
        Designed by <a href="#">Veried-p@Andrew</a>
      </div>
    </div>
    
  </footer>

  {% endblock %}